@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
	overflow-x: hidden;
}

body {
	background-color: #434343;
	padding: 15px 20px;
	color: white;
}
.box {
	border: 2px solid white;
	border-radius: 10px;
	overflow: hidden;
}
